[submodule "ggml"]
	path = ggml
	url = https://github.com/jimmyjordanSWE/ggml.git
[submodule "proto/riva-common"]
	path = proto/riva-common
	url = https://github.com/jimmyjordanSWE/common.git
[submodule "flashlight-text"]
	path = third_party/flashlight-text
	url = https://github.com/jimmyjordanSWE/text.git
[submodule "kenlm"]
	path = third_party/kenlm
	url = https://github.com/jimmyjordanSWE/kenlm.git
[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/jimmyjordanSWE/llama.cpp.git
[submodule "open_jtalk"]
	path = third_party/open_jtalk
	url = https://github.com/jimmyjordanSWE/open_jtalk.git
[submodule "cppjieba"]
	path = third_party/cppjieba
	url = https://github.com/jimmyjordanSWE/cppjieba.git
[submodule "third_party/cpp-httplib"]
	path = third_party/cpp-httplib
	url = https://github.com/jimmyjordanSWE/cpp-httplib.git
